@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

@if (Model.ErroCode == null)
{
    <div>
        <h2>Ooops! Ocorreu um erro inesperado :(! Nosso suporte já irá corrigir esse problema.</h2>
    </div>
    
}
else
{
    <p>
        <strong>Request ID:</strong> <code>@Model.ErroCode</code>
    </p>


    <h3>@Model.Titulo</h3>

    <p>
        @Html.Raw(Model.Mensagem)
    </p>

}
